*{
    padding: 0;
    margin: 0;
}
.nav {
    background-color: #333333;
    color: white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    font-style:'Roboto';

}
.nav-title {
    display: flex;
    
}
.nav-links{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 20px;
   
    
}
a{
    color: white;
    text-decoration: none;
    justify-content: center;
    margin: 10px;

}
.btn{
    box-shadow: 3px 3px 3px 3px black;
    background-color: aqua;
    color: white;
    border: 2px solid black;
}