.images{
    height: 200px;
    width: 160px;
    background-color: white;
    

}

.pictures{
    height: 200px;
    width: 160px;
}

.col{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}
.col2{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
}
.col3{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
}