.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: gray;
    color: white;
}

.navbar input {
    background-color: white;
    width: 40%;
}

.navbar button {
    background-color: rgb(6, 52, 108);
    width: 100px;
    height: 30px;
    box-shadow: 5px 5px 2px 1px black;
    color: white;
    font-family: 'roboto', sans-serif;
}

.main {
    width: 800px;
    height: 800px;
    margin: auto;


}

.firstbox {

    width: 500px;
    margin-top: -7%;

}

.ninja {
    border: 2px solid black;
    margin-right: 500px;
    margin-top: 100px;
    width: 500px;
    height: 260px;



}

.ninja p {
    margin-left: 200px;
    margin-top: -20%;
    margin-right: 15px;


}

.ninja button {
    margin-top: 100px;
    margin-left: 20px;
    width: 100px;
    height: 30px;
    background-color: orange;
    box-shadow: 5px 5px 2px 1px black;
    color: black;
    font-family: 'roboto', sans-serif;
}

.secondbox {
    border: 2px solid black;
    width: 260px;
    height: 200px;
    margin-left: 67%;
    margin-top: -68%;
}

.secondbox button {
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    background-color: green;

    box-shadow: 5px 5px 2px 1px black;
    color: black;
    font-family: 'roboto', sans-serif;

}
