.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 25px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 25px;
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin: 10px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 25px;
}
.row {
    display: flex;
    padding-top: 15px;
    padding-left: 10px;


}
.sub-content{
    margin: 10px;
}
