<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <h1>First Template From Flask Server🔥🔥🔥</h1>
    <h2>
        User Name : {{user}} <br/>
        User Age : {{number}}
    </h2>
    <hr>
    {% for user in users %}
        <p>{{user['name']}} --- {{user['age']}}</p>
    {% endfor %}
    <hr>
    {% for i in range(5) %}
        <h4>{{i}}</h4>
    {% endfor %}
    <hr>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user['name']}}</td>
            <td>{{user['age']}}</td>
        </tr>
        {% endfor %}
    </table>
   </div>
</body>
</html>